<div class="tab-list" role="tablist">
	<button hx-get="http://localhost:8000/commits" role="tab" aria-selected="false" aria-controls="tab-content">commits</button>
	<button hx-get="http://localhost:8000/oplog" class="selected" role="tab" aria-selected="true" aria-controls="tab-content">oplog</button>
</div>

<div id="tab-content" role="tabpanel" class="tab-content">
    <ul style="list-style: none;">
        {% for item in data %}
            <li><span>{{ item['date'] }}</span> - {{ item['text'] }}</li>
        {% endfor %}
    </ul>
</div>

